/* My Awesome Styling */


/* Global, Sitewide, Boilerplate */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

body {
    background: url("../img/bg-tile3.jpg");
    background-size: contain;
}


/* Header */
header img {
    width: 100px;
}

/* Main Nav */

nav li {
  display: inline-block;
  list-style: none;
}

nav a:link, 
nav a:visited {

  padding: 1em;
  text-decoration: none;
  transition: all .5s;
}

nav a:hover,
nav a:active {
  margin-left: .5em;
}

/* Quote */
blockquote {
color: dimgray;
font-family: 'IM Fell Double Pica', serif;
font-size: 2em;
text-align: center;
}

/* Mobile */

@media screen and (min-width:25em) {

    body {
        transition: background .5s;
}

}
.tablet, .desktop {
    display: none;
}

.mobile {
    display: block;
}

/* Tablet */
@media screen and (min-width: 37.5em)  {
  
    body {
    transition: background .5s;
  }
  
  .mobile, .desktop {
    display: none;
  }
  
  .tablet {
    display: block;
  }
  
}

/* Desktop */
@media screen and (min-width: 62.5em) {
  
    body {
    transition: background .5s;
  }
  
  .mobile, .tablet {
    display: none;
  }
  
  .desktop {
    display: block;
  }

}
